*{
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}
body{
    display: block;
    content: '';
}
    /* root */
:root {
    /* text Color */
    --main-text-color: #00045F;
    --second-text-color:#D9B00F;
    --para-text-color: #585858;

    /* All Background Color */
    --landing-bg-button: #F4C921;
    --second-bg-button:#EFE4BB;
    --accordion-bg-color: #F7EDFC;
    --arrow-bg-colo: #710135;

    /* Cards */
    --card-bg-color: #FFFADE;
    --secondory-bgcard-color:#E7FCE1;
    --third-bgcard-color:#FAF7F4;
     /*Container*/
     --main-container-margin:30px; 
  }
  h1{
    color: var(--main-text-color);
    font-size:35px;
    font-weight: bold;
  }
p{
    font-size: 14px;
    line-height: 19px;
    color: var(--para-text-color);
    
}
h6{
    color: var(--second-text-color);
    font-weight: bold;
}
section{
    margin-top: 100px;
    margin-bottom: 50px;
}
ul{
    list-style-type: none;
}

/* customize with classes */

@media (max-width:766px) {
    .navbar-nav {
        padding: 0;
        margin: 0;
        margin-left: 0;
    }
}
.scroll-container{
    scroll-behavior: smooth;
    overflow-y: scroll;
}
.nav-list-item{
    margin-left: 460px;
} 
.text-color-nav{
    color: var(--main-text-color);
    font-weight: bold;
    font-size: 12px;
}
.text-color-nav:hover{
    color: var(--main-text-color);
}
.showcase-landing{
    margin-top: 80px;
    margin-left: 30px;
    margin-right: 30px;
    /* margin-left: -20px; */
}
.gradient-color{
    background-image: linear-gradient(#E2DDF8, #F2DFF8);
}
.inner-text-showcase{
    font-size: 50px;
    font-weight: 700;
    color:var(--main-text-color) ;
}
/* .showcase-para-text p{
    font-size: 14px;
    line-height: 19px;
    color: var(--para-text-color);
} */
.showcase-form-style{
    margin-top: 50px;
    margin-bottom: 50px;
}

.inner-addon { 
    position: relative; 
}
.inner-addon input {
    padding-top: 10px;
    height: 50px;
    padding-bottom: 20px;
}
/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px ;
  color: var(--para-text-color);
  margin-top: 7px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px; right: 10px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


.submit-form-button{
    position: absolute;
    margin-top: -45px;
    margin-left: 460px;
}
.submit-form-button input{
    background-color: var(--landing-bg-button);
    padding: 7px 60px 10px 60px;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
    border-radius: 8px;
}
.video-main-div{
}
.video-landing{
    border-radius: 10px;
    margin-top: 80px;
    
}
.button-pasue{
    position: absolute;
     background-color: black;
    color: white;
    padding: 10px;
    margin-left: -20px;
    margin-top: 160px;
    z-index: 5px;
    border-radius: 50%;
}
.button-pasue-video{
    background-color: black;
    color:var(--second-text-color);
    padding: 10px;
    z-index: 5px;
    border-radius: 50%;
}
.button-pasue-top{
    background-color: var(--arrow-bg-colo);
    color:white;
    padding: 5px 8px;
    /* z-index: 5px; */
    border-radius: 50%;
}
.showcase-fotter{
    color: var(--main-text-color);
    margin-bottom: 50px;
    padding-bottom: 30px;
}
.content-review{
    margin-top: 100px;
}

.attorney-search-btn{
    background-color: var(--landing-bg-button);
    color: var(--main-text-color);
    font-weight: bold;
    padding: 2px 30px;
}
.content-img-review img{
    width: 350px;
    margin-left: 180px;
}
.color-main-bg{
    width: 92%;
    height: 230px;
    position: absolute;
    margin-top: 50px;
    border-radius: 10px;
    background-color:#F7EDFC;
}
.layout-card-item{
    margin-top: 170px;
    margin-left: 20px;

}
.layout-card-item-mid{
    margin-top: 100px;
    margin-left: 20px;
}
.card-style-type{
    background-color: var(--card-bg-color);
}
.absolute-card-img{
    position: absolute;
    z-index: 1;
}
.absolute-card-img img{
    width: 60px;
   
}
.card-title-font{
    color: var(--main-text-color);
    /* margin: 10px; */
    font-size: 24px;
    font-weight: bold;
}
.card-work-btn{
    background-color: var(--landing-bg-button);
    font-size: 15px;
}
.card-body-styl{
    color: var(--para-text-color);
    font-weight: bold;
}
.card-title-seco{
    font-size: 14px;
    font-weight: bold;
}
.pricing-text-para{
    font-size: 10px;
}
.card-mid-absolute{
    position: absolute;
    z-index:1;
    /* margin-top: -80; */
    margin-bottom: 80px;
    margin-left: 350px;
}
.content-pricing{
    margin-top: 80px;
}
.card-bg-pricing{
    background-color: var(--card-bg-color);
    border: none;
    /* width: 340px; */
    margin-left: 35px;
    position: relative;
}
.card-bg-pricing-last{
    background-color: var(--third-bgcard-color);
    border: none;
    height: 370px;
    margin-left: -15px;
    width: 320px;
    /* margin-left: 35px; */
    position: relative;
}
.card-bg-pricing-seco{
    background: var(--secondory-bgcard-color);
    width:400px;
    /* border-radius: 20px; */
    margin-left: -12px;
    margin-top: -50px;
}
.pricing-ul-style{
    list-style-type: none;
    margin-top: 50px;
    margin-bottom: 50px;
}
.list-style-widthout-green-tech{
    font-size: 13px;
    font-weight: bold;
    color: #CBC7C7;
}
.list-style-green-tech{
    font-size: 13px;
    font-weight: bold;
    color: #313131;
}
.list-style-green-tech img{
    width: 15px;
}
.pricing-button-buy{
    background-color: var(--second-bg-button);
    color: var(--main-text-color);
    position: absolute;
    font-weight: bold;
    font-size: 10px;
    margin-left: -55px;
    padding:8px 25px;
}
.pricing-button-buy-last{
    background-color: var(--second-bg-button);
    color: var(--main-text-color);
    position: absolute;
    font-weight: bold;
    margin-top: 45px;
    font-size: 10px;
    margin-left: -55px;
    padding:8px 25px;
}
.card-bach-fotter{
    margin-top: 100px;
}
.card-bach-fotter-mid span{
    font-weight: bold;
    font-size: 15px;
    color: var(--para-text-color);
}
.card-bach-fotter-mid{
    margin-top: 65px;
}

/* accordion */
.accordion-faq {

    margin-top: 70px;
}
.accordion-section{
    background-color: var(--accordion-bg-color);
    border-radius: 15px;
    margin-bottom: 15px;
}
.accordion-btn{
    padding: 5px 10px;
    background-color: var(--accordion-bg-color);
    color: var(--main-text-color);
    cursor: pointer;
    margin: 15px 15px;
    width: 98%;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  .accordion-btn span{
    font-size:17px;
    font-weight: bold;
  }
  .accordion-btn:focus{
    border: none;
    outline: none;
  }
  
  /* .active, .accordion:hover {
    background-color: #ccc;
  } */
  
  .accordion-btn:after {
    content: '\002B';
    color:var(--main-text-color);
    font-weight: bold;
    background-color: var(--landing-bg-button);
    border: 2px solid var(--landing-bg-button) ;
    border-radius: 50%;
    padding:5px 8px;
    float: right;
    margin-right: 10px;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: var(--accordion-bg-color);
    max-height: 0;
    overflow: hidden;
    border-radius: 15px;
    transition: max-height 0.6s ease-out;
}
.panel p {
    color: var(--main-text-color);
    font-size: 15px;
    line-height: 1.4em;
    font-weight: bold;
    
  }