<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neural IP</title>
    <!-- Fav Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- StyleSheet -->
    <link rel="stylesheet" href="/static/css/landing.css">
    <link rel = "icon" href = 
    "/static/image/Group 1181.png" 
            type = "image/x-icon">
</head>
<body data-bs-spy="scroll" data-bs-target="#topnav-menu" data-bs-offset="60">

    <main>
        <nav class="navbar bg-light navbar-expand-lg navigation fixed-top sticky ">
            <div class="d-flex justify-content-between  ">
                
                <div class="nav-logo-link d-flex" >
                    <a class="ml-3" href="#">
                        <img src="/static/image/logo-nav.png" alt="" style="width: 240px;">
                    </a>
                </div>


                <div class="collapse  navbar-collapse "id="topnav-menu-content" style="margin-left: 380px;">
                    <ul class="navbar-nav ms-auto text-uppercase" id="topnav-menu">
                        <li class="nav-item ml-2 mr-2">
                            <a class="nav-link text-color-nav" href="#home">Home</a>
                        </li>
                        <li class="nav-item ml-2 mr-2">
                            <a class="nav-link text-color-nav" href="#features">How it Works</a>
                        </li>
                        <li class="nav-item ml-2 mr-2">
                            <a class="nav-link text-color-nav" href="#pricing">FAQS</a>
                        </li>
                        <li class="nav-item ml-2 mr-2">
                            <a class="nav-link text-color-nav" href="#pricing">Pricing</a>
                        </li>
                    </ul>

                        <div class="my-2 ms-lg-2 ml-2" style="background-color: #F0C620;">
                            <a href="#" class="text-color-nav btn w-xs" style="padding-left:40px; padding-right:40px ;">LogIn</a>
                        </div>
                        
                </div>
            </div>
        </nav>



        <section class="mt-4">
            <div class="showcase-landing">
                <div class="gradient-color">
                    <div class="row">
                        <div class="col col-lg-7">
                            <div class="m-4" class="">
                                <div class="main ml-4">
                                    <h1 class="inner-text-showcase mb-4">Do you need <br> a Patent Search?</h1>
                                    <div class="text-left showcase-para-text  pt-2 mb-4">
                                        <p class="">EPS has revolutionized the intellectual property space by providing fast, budget friendly
                                            and effective patent searchs. Our AI advanced patent search system is state of the art and
                                            designed for inventors, entrepreneurs and brands looking to innovate.
                                        </p>
                                        <p>
                                            When you have ideas you need to know if its out there! The process is fast, simple and
                                            well organized from 1 to 1000 searches. The Neurel IP frameworks analyzes, and searches
                                            beyond keywords and delivers curated results fast!</p>
                                        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos libero consequuntur delectus aliquid dolor, hic mollitia dolorum itaque blanditiis optio praesentium voluptate saepe reprehenderit maiores debitis natus possimus animi. Modi.</p> -->
                                    </div>
                                    <div class="mt-4">
                                        <form class="showcase-form-style">
                                            <input class="form-control mt-4" type="text">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg-5">
                            <h1>super</h1>
                            <h1>super</h1>
                            <h1>super</h1>
                            <h1>super</h1>
                            <h1>super</h1>
                            <h1>super</h1>
                            <h1>super</h1>
                            <h1>super</h1>
                            <h1>super</h1>
                        </div>
                    
                    </div>
                </div>
            </div>
        </section>
    </main>


</body>
</html>