<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/samole.scss">
</head>
<body>
  <div class='video'>
    <script src="https://use.fontawesome.com/20603b964f.js"></script>
    <script type="text/javascript" src="https://content.jwplatform.com/libraries/LJ361JYj.js"></script>
    <script type="text/javascript">
      jwplayer.key = 'ypdL3Acgwp4Uh2/LDE9dYh3W/EPwDMuA2yid4ytssfI=';
      // jwplayer.key = 'ITWMv7t88JGzI0xPwW8I0+LveiXX9SWbfdmt0ArUSyc=';
    </script>
    <div id="myElement"></div>
    <script type="text/javascript">
      jwplayer("myElement").setup({
        image: "https://images.pexels.com/photos/1001682/pexels-photo-1001682.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940",
        //aspectratio: "16:9",
        // width: '100%',
        height: window.innerHeight,
        autostart: false,
        
       
      })
    </script>
  </div>
      <script src="/static/js/sample.js">
        
      </script>
</body>
</html>